@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: Nunito;
  letter-spacing: 0.0625em;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  font-family: "Varela Round";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.errorText {
  color: rgb(236, 18, 18);
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.479),
      rgba(255, 255, 255, 0)
    ),
    url(images/aspens.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.notePad {
  color: rgb(30, 255, 0);
}
