<div class="container-fluid log-bg">
  <br />
  <br />
  <div class="container login-form-1">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card rounded shadow shadow-sm">
          <div class="card-body">
            <h4 class="card-title text-center mb-0">
              <strong>Sign In</strong>
            </h4>
            <div *ngIf="accessDenied">
              <br />
              <h4 class="card-title text-center mb-0 red-text">
                <strong>Please try again or
                  <a [routerLink]="['/register']">join</a> our
                  community.</strong>
              </h4>
            </div>
            <hr />
            <form #loginForm="ngForm" ngNativeValidate id="login-form" class="text-center">
              <div class="login-form-main-message"></div>
              <div class="main-login-form">
                <div class="login-group">
                  <div class="form-group">
                    <label class="text-left" for="username">Username
                      <input type="text" class="form-control" id="username" name="username" placeholder="username"
                        ngModel required /></label>
                  </div>
                  <div class="form-group">
                    <label class="text-left" for="password">Password
                      <input type="password" class="form-control" id="password" name="password" placeholder="password"
                        ngModel required /></label>
                  </div>
                </div>
                <hr />
                <button type="submit" class="login-button btn btn-dark" (click)="login(loginForm)">
                  Enter your NotePad
                </button>
              </div>
              <br />
              <div class="etc-login-form">
                <p>
                  Not a member yet?
                  <a [routerLink]="['/register']">Join us.</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
