<div class="container d-flex h-100 ">
  <div class="mx-auto text-center">
    <br>
    <h1 class="mx-auto my-0 ">{{user.firstName}} {{user.lastName}}</h1>
    <h2 class="mx-auto my-0 ">Username: {{user.username}}</h2>
    <h2 class="mx-auto my-0 ">Email: {{user.email}}</h2>
    <h2 class="mx-auto my-0 ">Date last updated: {{user.updatedAt | date}}</h2>
    <h2 class="mx-auto my-0 ">Date joined: {{user.updatedAt | date}}</h2>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
