<div class="container-fluid">
    <br />
    <br />
      <div class="container update-form-1">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card rounded shadow shadow-sm">
              <div class="card-body">
                <h4 class="card-title text-center mb-0">
                  <strong>{{user.firstName}} {{user.lastName}}'s Profile</strong>
                </h4>
                <hr />
                <h4 class="card-body text-left mb-0 ">Username: {{user.username}}</h4>
                <h4 class="card-body text-left mb-0 ">Email: {{user.email}}</h4>
                <h4 class="card-body text-left mb-0  ">Last updated: {{user.updatedAt | date}}</h4>
                <hr />
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm" [routerLink]="['/profileUpdate']">Edit User Profile</button>
                  <div *ngIf="user.role === 'admin'">
                    <button class="btn btn-warning btn-sm" [routerLink]="['/admin']">ADMIN Portal</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>