<div class="container-fluid">
  <div class="mx-auto text-center">
    <br>
    <h1 class="mx-auto my-0 ">{{user.firstName}} {{user.lastName}}</h1>
    <h2 class="mx-auto my-0 ">Username: {{user.username}}</h2>
    <h2 class="mx-auto my-0 ">Email: {{user.email}}</h2>
    <h2 class="mx-auto my-0 ">Date last updated: {{user.updatedAt | date}}</h2>
    <h2 class="mx-auto my-0 ">Date joined: {{user.updatedAt | date}}</h2>
    <button class="btn btn-primary btn-sm" (click)="editUserInfo()">Edit User Profile</button>
    <div *ngIf="user.role === 'admin'">
      <br>
      <button class="btn btn-warning btn-sm" [routerLink]="['/admin']">ADMIN Portal</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
