<nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <a class="nav-item nav-link showHand notePad" [routerLink]="['/home']" (click)="isCollapsed = true">NotePad<span
      class="sr-only">(current)</span></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link showHand" [routerLink]="['/users']" (click)="isCollapsed = true"
        *ngIf="userLogInCheck()">Profile <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link showHand" [routerLink]="['/notes']" (click)="isCollapsed = true"
        *ngIf="userLogInCheck()">Notes</a>
      <a class="nav-item nav-link showHand" [routerLink]="['/login']" (click)="isCollapsed = true"
        *ngIf="!userLogInCheck()">Login</a>
      <a class="nav-item nav-link showHand" [routerLink]="['/register']" (click)="isCollapsed = true"
        *ngIf="!userLogInCheck()">Create Account</a>
      <a class="nav-item nav-link showHand" (click)="logout(); isCollapsed = true" *ngIf="userLogInCheck()">Logout</a>
    </div>
  </div>
</nav>
