<div>
  <div class="mx-auto text-center">
    <br>
    <H4>Your Notes</H4>
    <div>
      <button type="submit" class="login-button btn btn-primary btn-sm" (click)="createNote()">
        Add Note</button>
      <br>
      <br>
    </div>
  </div>

  <div *ngIf="notes.length > 0">
    <div class="card" *ngFor="let note of notes">
      <h5 class="card-header">Note: {{note.title}}</h5>
      <div class="card-body">
        <p class="card-text">{{note.text}}</p>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm" (click)="selectNote(note)">Edit</button>
          <button class="btn btn-warning btn-sm" (click)="deleteNote(note)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
