<div class="container-fluid">
  <div class="mx-auto text-center">
    <br>
    <div *ngIf="user.firstName != null">
      <H4>{{user.firstName | titlecase }}'s Notes</H4>
    </div>
    <div *ngIf="user.firstName == null">
      <H4>Your Notes</H4>
    </div>
    <div>
      <button type="submit" class="login-button btn btn-primary btn-sm" (click)="createNote()">
        Add Note</button>
      <br>
      <br>
    </div>
  </div>

  <div *ngIf="notes.length > 0">
    <div class="card" *ngFor="let note of notes">
      <h4 class="card-header"> Note: {{note.title}} <span *ngIf="note.starred == true" class="star">&#9733;</span>
      </h4>
      <h6 class="card-header text-left">{{note.updatedAt | date: 'MMMM d, y, h:mm a' }}</h6>
      <div class="card-body">
        <p class="card-text">{{note.text}}</p>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm" (click)="selectNote(note)">Edit</button>
          <button class="btn btn-warning btn-sm" (click)="deleteNote(note)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
