<div>
  <H4>Notes</H4>

  <div>
    <button type="submit" class="login-button btn btn-dark btn-sm" (click)="createNote()">
      Add Note
    </button>
    <br>
    <br>
  </div>

  <div *ngIf="notes.length > 0">
    <div class="card" *ngFor="let note of notes">
      <h5 class="card-header">Note: {{note.title}}</h5>
      <div class="card-body">
        <p class="card-text">{{note.text}}</p>
        <button class="btn btn-primary btn-sm" (click)="selectNote(note)">Edit</button>
      </div>
    </div>
  </div>
</div>
